.App {
  padding: 2em;
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

.container__food {
  display:flex;
  justify-content: space-between;
}

.container__foodBox {
  width: 55%;
}

.container__todaysFood {
  width: 35%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-bottom {
  margin-bottom: 2em;
}

.margin-bottom-small {
  margin-bottom: .5em;
}

.container__todaysFood__ul {
  margin: 0 0 1em 2.25em;
}

li {
  list-style: initial;
}




