.App {
  padding: 2em;
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-bottom {
  margin-bottom: 2em;
}

.margin-bottom-small {
  margin-bottom: .5em;
}




